/*
HOJA DE ESTILOS 
Esto es un comentario de bloque en CSS

@autor: iñigo
@version: 1.0
@tags: css
@licencia: mit


Orden:

1. Reset Básico
2. @keyframes
3. Etiquetas estilos generales
4. Layouts
5. Clases para reutilizar
6. Cosas especificas (id)
7. fontawesome
*/



/*1. Reset básico para eliminar estilos de todos los browser-user-agent)*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: x Arial, sans-serif;
    margin: auto;
  

}

main {
    margin: auto;
    margin-bottom: 100px;
    width: 1024px;

}

code {
    color: red;
    background-color: lightgray;
    font-family: cursive;

}



h1 {
    color: #09C;
    font-size: 3em;
    text-align: center;

}

h2,
h3 {
    text-align: center;

}

a {
    color: rgb(11, 35, 90);
    margin: auto;

    font-weight: 800;
}

input[type="text"] {
    padding: 2px 0 2px 5px;
}

input[type="text"]:valid {
    color: green;
    border: 2px solid green;

}

input[type="text"]:invalid {
    color: red;
    border: 2px solid red;

}

form {
    border: 2px solid rgb(11, 35, 90);
    border-radius: 20px;
    padding: 20px;
}

form label {
    color: rgb(11, 35, 90);
    padding: 10px;
    font-size: 2em;

}

input[type="submit"] {
    background-color: #0099CC;
    box-shadow: 2px 2px 10px #666;
    font-family: sans-serif;
    font-size: 1.5em;
}

a:hover {
    background-color: lightblue;
}


table {
    width: 50%;
    margin: auto;
}





td {
    border: 3px solid #0099CC;
    /* shorthand : esto es una abreviación*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
}

td:hover {
    background-color: violet;
}

.box {
    box-sizing: border-box;
    display: inline-block;
    height: 100px;
    width: 100px;



    border: 2px solid teal;
    background-color: royalblue;
    border-radius: 10px;

    color: whitesmoke;
    font-size: 2em;
    text-align: center;

}

.box-texto {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px solid teal;
}

.parallax {
    background-image: url('/helloweb/images/imagenOffice.jpg');
    height: 380px;
    background-attachment: fixed;
    /*Estático, no se mueve con el scroll*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*Coje todo el ancho de pantalla*/
    border: 2px solid rgb(12, 38, 97);
    border-radius: 5px;
    text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0, 0, 0, 0.15), 2px 1px 6px rgba(34, 31, 206, 0.45);

}

.parallax img {
    display: block;
    margin: auto;
    padding-top: 100px;
}


.parallax h1 {
    color: rgb(12, 38, 97);
    text-decoration: underline;
    text-transform: uppercase;
}

.boton {
    background-color: rgb(114, 199, 220);
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 20px;

}

.box-animation {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: #09C;
    padding-bottom: 2px;
}

.box-animation:hover {
    transition-duration: 2s;
    background-color: chocolate;
    border-radius: 50%;
}


.imagen {
    width: 1100px;
    height: 900px;
}

.tachado {
    text-decoration: line-through;
}

.parrafoLorem {
    font-size: 14px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #0099CC;
}

.tituloListas {
    color: red;
    text-decoration: underline;
}



.subrayado {
    text-decoration: underline;
}

.texto-centrado {
    text-align: center;
}

.nav-bar {
    height: 50px;
    border-radius: 0px 0px 20px 20px;
    background-color: rgb(12, 38, 97);
    text-align: center;
    border: 2px solid rgb(114, 199, 220);
    position: sticky;


}


.nav-bar a {
    color: white;
    text-transform: capitalize;
}

.centrado {
    display: block;
    margin: 50px;
}

section {
    border: 3px solid rgb(12, 38, 97);
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 20px;
    background-color: rgb(114, 199, 220);
    -webkit-box-shadow: 12px 10px 15px 0px rgba(0, 0, 0, 0.32);
    box-shadow: 12px 10px 15px 0px rgba(0, 0, 0, 0.32);
}


.contenedor .texto {
    background-color: #00000052;
    position: absolute;
    bottom: -120px;
    transition-duration: 2s;


}

.contenedorBody{
	  max-width: 1024px;
    /*Se usa para coger el 100%*/
}

footer {
	padding-left:50%;
    position: fixed;
    bottom: 0;
    background-color: rgb(114, 199, 220);
    padding: 20px;
    width: 100%;
}

.contenedor:hover .texto {
    bottom: 0%;
    color: white;
    transition: all 2s ease-in-out;

}

.contenedor h3 {
    color: white;
    text-transform: uppercase;
}

.contenedor .texto p {
    text-align: justify;
}


/*fontawesome*/



.fa-eye-slash{
	color:red;
	font-size:4em;
}

.fa-eye{
	color:red;
	font-size:4em;
}